@model List<Book>
<h2>List Book</h2>
@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead class="table-header">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Stock</th>
                <th>Genre</th>
                <th>Category.Name</th>
                <th>IsAvaible</th>
                
            </tr>
        </thead>
        <tbody class="table-body">
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Stock</td>
                    <td>@book.Genre</td>
                    <td>@book.Categories.Name</td>
                    <td>@(book.IsAvailable ? "Available" : "Not Available")</td>
                 
                </tr>
            }
        </tbody>
        <tfoot class="table-footer">
            <tr>
                <td colspan="4" class="text-center">Toplam @Model.Count() kitap</td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>Henüz kitap eklenmemiş.</p>
}
